/* Color Palette: 
(Canva Colors - Tidal Wave)
Misty Blue (lightest) #CFE0EA
Teal Green (dark) #01949A
Slate (gray tone) #578384
Teal (darkest) #016367 */

:root {
  --background: #CFE0EA;
  --text: #016367;
  --nav: #578384;
  --frame: #01949A;
}

* {
  background-color: var(--background);
  color: var(--text) !important;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: var(--nav);
}

.nav-link {
  font-size: 1.5rem !important;
}

.hero-section {
  background-image: url("../images/banner-hometown.jpg");
  height: 600px;
}

h1 {
  color: var(--background) !important;
}

h1,h3 {
  font-family: 'Satisfy', cursive;
  font-size: 2rem !important;
}

img {
  height: 400px;
  object-fit: cover;
  object-position: center top; 
}

a {
  text-decoration: none;
  color: var(--text);
  display: inline;
  font-family: 'Satisfy', cursive;
}

#banking {
  background-image: url("../images/work-open-banking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#elearning {
  background-image: url("../images/work-elearning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#business-school {
  background-image: url("../images/work-business-school.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#course {
  background-image: url("../images/work-ld.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}